@import "suitcss-utils-position";
@import "factorial-utils-margin";

/** @define Modal */

:root {
  --Modal-background-color: color(#000 alpha(80%));
  --Modal-foreground-color: #fff;
  --Modal-padding: var(--space-4);
}

.Modal-background {
  background-color: color(var(--Modal-background-color));
}

.Modal-foreground {
  background-color: var(--Modal-foreground-color);
  padding: var(--Modal-padding);
}
