@import "suitcss-utils-position";
@import "factorial-components-image";

/** @define Image */

.Image--contain {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}
