@import "./lib/utils-padding.css";
@import "./lib/utils-padding-top.css";
@import "./lib/utils-padding-right.css";
@import "./lib/utils-padding-bottom.css";
@import "./lib/utils-padding-left.css";
@import "./lib/utils-padding-horizontal.css";
@import "./lib/utils-padding-vertical.css";

:root {
  --space-1: 0.125rem;
  --space-2: 0.25rem;
  --space-3: 0.5rem;
  --space-4: 1rem;
  --space-5: 2rem;
  --space-6: 4rem;
  --space-7: 8rem;
  --space-8: 16rem;
}
