{#
  Modal

    - markup
#}
<div class="Modal">
  <div class="Modal-background ux-posFullScreen">
    <div class="Modal-foreground ux-posAbsoluteCenter">
      <div class="Modal-markup">
        {{ markup|raw }}
      </div>
    </div>
  </div>
</div>
