@import "./lib/utils-margin-top.css";
@import "./lib/utils-margin-right.css";
@import "./lib/utils-margin-bottom.css";
@import "./lib/utils-margin-left.css";
@import "./lib/utils-margin-horizontal.css";
@import "./lib/utils-margin-vertical.css";

:root {
  --space-1: 0.125rem;
  --space-2: 0.25rem;
  --space-3: 0.5rem;
  --space-4: 1rem;
  --space-5: 2rem;
  --space-6: 4rem;
  --space-7: 8rem;
  --space-8: 16rem;
}
